<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.audit_new.scanner">


    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/favi_logo"
        android:label="Rcs Scanner"
        android:roundIcon="@drawable/favi_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.audit_new.scanner.ScannerActivity"></activity>
        <activity android:name="com.audit_new.scanner.ScanScreen" android:label=""/>
        <activity android:name="com.audit_new.scanner.SplashScreen"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.audit_new.scanner.home"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.audit_new.scanner.LoginActivity"
            android:noHistory="true">

        </activity>
    </application>

</manifest>